llmsys_s25_hw2/workdir_vocab10000_lr0.02_embd256/checkpoints/
llmsys_s25_hw3/workdir_vocab10000_lr0.02_embd256_use_fused_kernel_False
llmsys_s25_hw3/workdir_vocab10000_lr0.02_embd256_use_fused_kernel_True
llmsys_s25_hw4/tests/model0_gradients.pth
llmsys_s25_hw4/tests/model1_gradients.pth